name: board-client-build-and-push

on:
  push:
    branches:
      - multi-board-67
    paths:
      - 'board-client/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: ./board-client
          file: ./board-client/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/board-client:${{ github.sha }}
          platforms: linux/amd64,linux/arm64
